
.editor-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    alignItems: center;
    justifyContent: center;
    overflow: hidden;
    color: #000; /* White text color */
    font-size: 24px;
    white-space: nowrap; /* Prevent text from wrapping */
    text-align: right; /* Align text to the right */
    position: relative; /* Added for absolute positioning */
    overflow: hidden; /* Hide both horizontal and vertical scroll bars */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
}

.text-container {
    position: absolute;
    left: 50%; /* Center horizontally */
    top: 25%;
    transform: translateX(-100%); /* Adjust for centering */
}

.editor-input {
    position: absolute;
    top: -9999px; /* Move the input off-screen */
}

.blink {
    animation: blink-animation 2s infinite; /* 1s duration, infinite iterations */
}

.gradient-overlay {
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #f5f5f5, rgba(255, 255, 255, 0));
    pointer-events: none; /* Make the overlay transparent to clicks */
}

@keyframes blink-animation {
    0%, 50%, 100% {
        opacity: 1; /* Fully visible */
    }
    25%, 75% {
        opacity: 0; /* Invisible */
    }
}